.match {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2024;
    width: 497px;
    height: 100vh;
    justify-content: center;
}
.logo-empresa {
    color: #8246E3;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}
.img-user {
    width: 10vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
    border-radius: 100%;
}
.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-text {
    font-size: 19px;
    margin-top: 20px;
}
.card-candidato {
   background-image: linear-gradient(to bottom, #48277D,#291648);
    color: #ffff;
    box-shadow: 0px 0px 20px #0000004d;
}
.card-candidato .card-body {
    text-align: start;
}
.perfil-user {
    position: absolute;
    bottom: 0;
    right: 0;
}
.name-user {
    font-size: 30px;
    max-width: 100px;
    flex-wrap: wrap;
    display: flex;
}
.btn-match {
    width: 22vw;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.btn-back {
    width: 25rem;
    margin-bottom: 5px;
}