.match {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c214a;
  width: 497px;
  height: 100vh;
  justify-content: center;
}

.img-user {
  width: 120px;
  height: 120px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
  border-radius: 10%;
  position: absolute;
  top: -60px;
  left: 110px;
}
.img-user img {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 10%;
}
.img-user-perfil {
  width: 120px;
  height: 120px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
  border-radius: 10%;
  position: absolute;
  top: -50px;
  left: 115px;
}
.img-user-perfil img {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 10%;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-text {
  font-size: 19px;
  margin-top: 20px;
}

.card-candidato {
  background-image: linear-gradient(
    to bottom,
    #3c1856,
    #3e195a,
    #3b1859,
    #3b185c,
    #2c214a,
    #2c214a
  );
  border: none;
  color: #ffff;
  box-shadow: 0px 0px 20px #0000006c;
}
.card-candidato .card-body {
  text-align: center;
}
.perfil-user {
  bottom: 0;
  right: 25px;
  position: absolute;
}
.name-user {
  display: flex;
  font-size: 30px;
  flex-wrap: wrap;
  max-width: 100px;
  margin-top: 50px;
  text-align: center;
}
.btn-match {
  gap: 5px;
  width: 22vw;
  display: flex;
  justify-content: center;
}
.super-like {
  bottom: -50px;
  position: relative;
}
.btn-back {
  width: 25rem;
  margin-bottom: 5px;
}

.mensagem-1 {
  height: 4vh;
  padding: 7px;
  display: flex;
  max-width: 80%;
  font-size: 13px;
  align-items: center;
  border-radius: 10px;
  justify-content: start;
  margin: 6px 0 6px 100px;
  background-color: #1e104588;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.01);
}
.mensagem-2 {
  height: 4vh;
  padding: 7px;
  display: flex;
  max-width: 80%;
  font-size: 13px;
  border-radius: 10px;
  align-items: center;
  justify-content: start;
  margin: 6px 100px 6px 0;
  background-color: #ffffff4f;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.01);
}

.input-msg {
  bottom: 0;
  z-index: 10;
  display: flex;
  position: absolute;
  flex-direction: row;
  margin: 10px 0 10px 0;
}
.input-msg button {
  border: none;
  color: #fff;
  border-radius: 10px;
  border-top-left-radius: 0;
  background-color: #6500bc;
  border-bottom-left-radius: 0;
}

.input-msg textarea {
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.login {
  gap: 60px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
.login h1,
.login h2 {
  color: #ffff;
}
.inputs-login {
  display: flex;
  flex-direction: column;
}
.inputs-login input {
  border: none;
  margin: 5px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}
.btns-login {
  display: flex;
  flex-direction: column;
}

.login button {
  border: none;
  padding: 5px;
  margin: 10px;
  color: #ffff;
  border-radius: 10px;
  background-image: linear-gradient(to right, #3c1856, #6500bc);
}
.endereco input {
  width: 20%;
}

.login a {
  width: 100%;
}

.Description {
  text-align: center;
}

.Description h1 {
  font-size: 1rem;
  color: #fff;
}

.Description h2 {
  font-size: 1rem;
  color: #fff;
}

.config {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-open {
  z-index: 9999;
  position: relative;
}

.popup {
  top: 50%;
  left: 50%;
  width: 28%;
  height: 50vh;
  display: flex;
  color: #fff;
  position: fixed;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
  z-index: 9999999999999999999;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to right, #3c1856, #6500bc);
}

.popup-content {
  display: flex;
  margin-top: -10%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btnpop {
  margin-top: -20%;
}

.btnpop button {
  border: solid 3px #fff;
  background-image: linear-gradient(to right, #3c1856, #6500bc);
}

.btnpro button {
  border: solid 3px #fff;
  background-image: linear-gradient(to right, #3c1856, #6500bc);
}

.btnpro button:hover {
  font-weight: 500;
  color: blueviolet;
  border: solid 3px #6500bc;
}
